body {
  background-color: #65b5ad;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;

}

div {
  width: 500px;
  height: 500px;
  margin: auto;
}

input[type=text] {
  border-radius: 5px;
  padding: 10px;
}

input[type=submit] {
  padding: 10px 15px;
  background: #e55e6a;
  border: 0 none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;

  &:active {
    background: #e14754;
  }
}
